# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s)..

# Alertmanager configuration..
alerting:
  alertmanagers:
  - scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    static_configs:
    - targets:
      - {{inventory_hostname}}:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - /etc/prometheus/rules/*.yml

# Here it's Prometheus itself.
scrape_configs:

  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.

  # node-exporter
  - job_name: node
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    static_configs:
    - targets:
      - {{inventory_hostname}}:9100

  - job_name: 'prometheus'
    # metrics_path defaults to '/metrics'
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    static_configs:
    - targets:
      - {{inventory_hostname}}:9090

  - job_name: 'alertmanager'
    # metrics_path defaults to '/metrics'
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    static_configs:
    - targets:
      - {{inventory_hostname}}:9093

  - job_name: 'karma'
    # metrics_path defaults to '/metrics'
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    static_configs:
    - targets:
      - {{inventory_hostname}}:8081

  - job_name: dsm-exporter
    scrape_interval: 10s
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    static_configs:
      - targets: 
        - {{inventory_hostname}}:8440

  - job_name: blackbox-exporter
    # metrics_path defaults to '/metrics'
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    static_configs:
      - targets: 
        - {{inventory_hostname}}:9115

  - job_name: 'http-2xx'
    metrics_path: /probe
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - http://localhost:8080
        - http://localhost:8082
        - http://ipv4.download.thinkbroadband.com/5MB.zip
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{inventory_hostname}}:9115

  - job_name: 'https-2xx'
    metrics_path: /probe
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    params:
      module: [https_2xx]
    static_configs:
      - targets:
        - https://{{inventory_hostname}}:3000
        - https://{{inventory_hostname}}:8081
        - https://{{inventory_hostname}}:8440
        - https://{{inventory_hostname}}:8442
        - https://{{inventory_hostname}}:9090
        - https://{{inventory_hostname}}:9091
        - https://{{inventory_hostname}}:9093
        - https://{{inventory_hostname}}:9100
        - https://{{inventory_hostname}}:9115
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{inventory_hostname}}:9115

  - job_name: 'https-2xx-insecure'
    metrics_path: /probe
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    params:
      module: [https_2xx_insecure]
    static_configs:
      - targets:
        - https://www.google.com
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{inventory_hostname}}:9115

  - job_name: 'https-2xx-auth'
    metrics_path: /probe
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    params:
      module: [https_2xx_auth]
    static_configs:
      - targets: []
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{inventory_hostname}}:9115

  - job_name: 'https-2xx-nodeexporter'
    metrics_path: /probe
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    params:
      module: [https_2xx_nodeexporter]
    static_configs:
      - targets: []
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{inventory_hostname}}:9115

  - job_name: 'dns-test'
    metrics_path: /probe
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    params:
      module: [dns_test]
    static_configs:
      - targets: 
          - 8.8.8.8
          - 8.8.4.4
          - 192.168.11.1
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{inventory_hostname}}:9115

  # pushgateway
  - job_name: pushgateway
    honor_labels: true
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    static_configs:
    - targets:
      - {{inventory_hostname}}:9091

  # cadvisor
  - job_name: cadvisor
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    scrape_interval: 5s
    static_configs:
    - targets:
      - {{inventory_hostname}}:8442

  # haproxy_exporter
  - job_name: haproxy-exporter
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    scrape_interval: 5s
    static_configs:
    - targets:
      - {{inventory_hostname}}:9101

  # grafana
  - job_name: grafana
    scheme: https
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificate.pem
    scrape_interval: 5s
    static_configs:
    - targets:
      - {{inventory_hostname}}:3000

  # p2000-exporter
  - job_name: p2000-exporter
    scheme: http
    scrape_interval: 15s
    static_configs:
    - targets:
      - {{inventory_hostname}}:2000